.header {
	height: 600px;
	background: url('img/naslovna2.jpg') no-repeat ;
	background-size:cover;
	
}
@media screen and (max-width:760px) {
	.header {
	height:200px
}
}
.naslov2{
	font-size:48px;
	font-family:'Pompiere', cursive;
	text-align:center;
}
.tekst{
	font-size:30 px;
	font-family: "Prociono", cursive;
}
